<!DOCTYPE html>
<html>
<head>
  <title>FakeApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul class="nav nav-tabs" role="tablist">
  <% if logged_in? %>
    <li><%= link_to 'Logout', logout_path, method: :post %></li>
  <% else %>
    <li><%= link_to 'Register', new_user_path %></li>

    <li><%= link_to 'Login', login_path %></li>
  <% end %>
  </ul>
</nav>

<div>
  <p class="alert text-center"><%= flash[:notice] %></p>
</div>

<%= yield %>

</body>
</html>
