<!DOCTYPE html>
<html>
<head>
  <title>FakeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <p><%= link_to 'Register', new_user_path %></p>
</nav>

<div>
  <p><%= flash[:notice] %></p>
</div>

<%= yield %>

</body>
</html>
